body {
  background-color: hsl(210, 38%, 95%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.line-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.line-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.box {
  border-radius: 10px 10px 10px 10px;
  margin: 15px;
  padding: 0px 30px 30px 30px;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.box-1 {
  background-color: hsl(263, 55%, 52%);
  width: 560px;
  height: 290px;
}

.box-2 {
  background-color: hsl(218, 20%, 35%);
  width: 200px;
  height: 290px;
}
.box-3 {
  background-color: hsl(0, 0%, 100%);
  width: 200px;
  height: 290px;
}
.box-4 {
  background-color: hsl(219, 29%, 14%);
  width: 560px;
  height: 290px;
}
.box-5 {
  background-color: hsl(0, 0%, 100%);
  width: 200px;
  height: 635px;
}
.profile {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}
.avatar {
  border-radius: 60%;
  height: 40px;
  width: 40px;
  object-fit: cover;
}
.daniel {
  border: 2px solid hsl(263, 61%, 66%);
}
.jonathan {
  border: 2px solid hsl(219, 13%, 60%);
}
.patrick {
  border: 2px solid hsl(263, 55%, 52%);
}
.tag {
  margin-top: 3px;
}
.tag-1 {
  padding-left: 20px;
  color: hsl(263, 61%, 66%);
  font-size: 13px;
}
.tag-1 span {
  font-size: 15px;
  color: hsl(278, 57%, 86%);
}
.tag-2 {
  padding-left: 20px;
  color: hsl(219, 13%, 60%);
  font-size: 13px;
}
.tag-2 span {
  font-size: 15px;
  color: hsl(214, 23%, 88%);
}
.tag-3 {
  padding-left: 20px;
  color: hsl(192, 3%, 70%);
  font-size: 13px;
}
.tag-3 span {
  font-size: 15px;
  color: hsl(218, 4%, 44%);
}
.tag-4 {
  padding-left: 20px;
  color: hsl(225, 7%, 52%);
  font-size: 13px;
}
.tag-4 span {
  font-size: 15px;
  color: hsl(220, 15%, 76%);
}

.heading {
  position: relative;
  font-weight: 600;
  font-size: 24px;
  margin-top: 4px;
  z-index: 1;
}

.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.quotes {
  position: absolute;
  margin-left: 400px;
  margin-top: 0px;
  z-index: 0;
}
.h-1 {
  color: hsl(278, 57%, 86%);
}
.h-2 {
  color: hsl(214, 23%, 88%);
}
.h-3 {
  color: hsl(218, 4%, 44%);
}
.h-4 {
  color: hsl(220, 15%, 76%);
}
.p-1 {
  color: hsl(263, 61%, 66%);
}
.p-2 {
  color: hsl(219, 13%, 60%);
}
.p-3 {
  color: hsl(192, 3%, 70%);
}
.p-4 {
  color: hsl(225, 7%, 52%);
}
